---
import AvatarList from './AvatarList.astro';
import TknikaLogo from '../../assets/tknika.png';

type Props = {
	path: string;
};
const { path } = Astro.props;
---

<div class="footer">
		<a href="https://www.tknika.eus">
			<img src={TknikaLogo} alt="Tknika logo" width="200">
		</a>
</div>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
	.footer {
		margin: 0 auto;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
  	position: relative;
  	width: 100%;
  	background: black;
		color: white;		
		text-align: center;
	}
</style>
